@font-face {
  font-family: "Shrikhand";
  src: url("font/Shrikhand.ttf");
}

.upbeat {
  color: #9b5de5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  vertical-align: text-middle;
  font-size: 150px;
  font-family: Shrikhand;
  line-height: auto;
  border: 1px solid rgba(233, 36, 214, 0);
  top: 220px;
  position: absolute;
  /* width: 956px; */
}

.group1 {
  top: 450px;
  position: absolute;
}
.playbutt {
  font-family: Shrikhand;
  font-size: 30px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.headBox {
  top: -160;
  width: 980px;
  height: 375px;
}
.ellipse1 {
  position: absolute;
  width: 280px;
  height: 375px;
  left: 0px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}

.ellipse2 {
  position: absolute;
  width: 280px;
  height: 375px;
  left: 250px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}
.ellipse3 {
  position: absolute;
  width: 280px;
  height: 375px;
  left: 500px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}
.ellipse4 {
  position: absolute;
  width: 280px;
  height: 375px;
  left: 750px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}
.ellipse5 {
  position: absolute;
  width: 280px;
  height: 375px;
  left: 1000px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}
.ellipse6 {
  position: absolute;
  width: 285px;
  height: 375px;
  left: 1250px;
  top: -160px;
  background-color: #aceeee;
  border-radius: 0 0 150px 150px;
}
.groupBudget {
  position: absolute;
  height: 92px;
  left: 1050px;
  top: 600px;
}

.boxBudget {
  position: absolute;
  width: 425px;
  height: 60px;
  background: #9b5de5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.budget {
  position: absolute;
  width: 290px;
  height: 50px;
  left: 130px;
  top: 5px;
  background: rgba(0, 0, 0, 0.11);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.budgetFront {
  top: 10px;
  left: 20px;
  position: absolute;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fee440;
}
.groupPinkCircle {
  position: absolute;
  left: 0;
  top: 120px;
  height: 50px;
  width: 300px;
}

.ellipse7 {
  background-color: #fc7dff;
  height: 45px;
  width: 45px;

  left: 243px;
  position: absolute;
  border-radius: 50%;
}
.ellipse8 {
  background-color: #fc7dff;
  height: 45px;
  width: 45px;

  left: 495px;
  position: absolute;
  border-radius: 50%;
}
.ellipse9 {
  background-color: #fc7dff;
  height: 45px;
  width: 45px;

  left: 745px;
  position: absolute;
  border-radius: 50%;
}
.ellipse10 {
  background-color: #fc7dff;
  height: 45px;
  width: 45px;

  left: 995px;
  position: absolute;
  border-radius: 50%;
}
.ellipse11 {
  background-color: #fc7dff;
  height: 45px;
  width: 45px;

  left: 1245px;
  position: absolute;
  border-radius: 50%;
}

.pinkRectangle {
  position: absolute;
  width: 400px;
  height: 60px;
  left: -110px;
  top: 50px;
  background: #ff699f;
  border-radius: 20px;
}

.textPlay {
  position: absolute;
  width: 376px;
  height: 56px;
  left: 170px;
  top: 5px;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fee440;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottomdown {
  position: absolute;
  bottom: 0px;
  left: 1px;
}

.upleft {
  position: absolute;
  top: 5px;
  left: 5px;
}

.recConstruct {
  box-sizing: border-box;
  position: absolute;
  width: 417px;
  height: 465.33px;
  left: 1050px;
  top: 120px;
  background: #ffffff;
  border: 16px solid #00bbf9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.writeConstruct {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 360px;
  height: 413px;
  background: rgba(0, 0, 0, 0.11);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
