.Ellipse3 {
  position: absolute;
  border-radius: 50%;
  align-items: center;
}
.Victory_Lose {
  left: 200px;
  top: 550px;

  position: absolute;
  text-align: center;
  color: #f15bb5;
  font-size: 100px;
  font-family: Shrikhand;
}
.Exit:hover img {
  content: url("src/image component/Exist_hover.png");
  opacity: 1;
  size-adjust: 50px;
}
.Exit:click img {
    content: url("src/image component/Exist_hover.png");
    opacity: 1;
    size-adjust: 50px;
  }
  .Sound:click img {
      content: url("src/image component/Soundoff.png");
      opacity: 1;
      size-adjust: 50px;
  }
